/* ============================ */
/* ========== LAYOUT ========== */
/* ============================ */

body {
	max-width: 90rem;
	padding: 0;
	margin: 0 auto;
}
body > header {
	width: 100%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}
body > header h1 {
	margin: 0;
}
body > header nav ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
body > header nav li {
	padding: 0;
	margin: 0 0.5rem;
	list-style-type: none;
}
body > main {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(9, 1fr);
}
body > main > * {
	grid-column: 2 / -2;
}
body > footer ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
body > footer nav li {
	padding: 0;
	margin: 0 0.5rem;
	list-style-type: none;
}

/* ============================ */
/* =========== FONT =========== */
/* ============================ */

body {
	/*
		NIT: I'd love a series of system native fonts, ala modern-font-stacks[1] that covered some nice
		styling. Alas, i do not know fonts, and the best i can discern from researching is that the
		landscape is chaotic at best. Even with modern-font-stacks recommendations most of them did
		nothing for me on Linux.

		I think the CSSWG is addressing this[2][3]. So for now i'm just going to favor this with a
		system-ui and sans-serif fallback. Someone font savvy can propose some improvements. 

		[1]: https://github.com/system-fonts/modern-font-stacks
		[2]: https://github.com/w3c/csswg-drafts/issues/4107
		[3]: https://drafts.csswg.org/css-fonts-4/#system-ui-def
	*/
	font-family: ui-sans-serif, system-ui, sans-serif;
}
body > header {
	/* See font NIT in body style. */
	font-family: ui-monospaced, monospace, system-ui, sans-serif;
}

/* ============================ */
/* ========== STYLE =========== */
/* ============================ */

body {
	margin: 0 1rem;
	/* max-width: 650px; */
	/* padding: 0 10px; */
	line-height: 1.6;
	font-size: 18px;
}
/* Anti aliasing? :shrug: */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,h2,h3 {
	line-height: 1.6;
}

body > header h1 {
	font-size: 1em;
	display: inline;
}
body > header h1 span::before {
	content: "/";
  color: var(--color-separator);
}

body {
  background-color: var(--color-canvas);
  color: var(--color-text-primary);
}

h1 {
	color: var(--color-text-brand);
}

/* ============================ */
/* ====== THEME / COLOR ======= */
/* ============================ */

/*
color-canvas-inverted
color-brand-primary
color-brand-secondary
color-brand-tertiary
color-text-inverted
*/


/* Default light theme, should match `light` below. */
:root {
	--color-canvas: hsl(60, 10%, 95%);
	--color-separator: hsl(217, 30%, 85%);
	--color-text-primary: hsl(217, 49%, 10%);
	--color-text-highlight: hsl(217, 49%, 20%);
	--color-text-brand: hsl(217, 49%, 20%);
}
/* Default dark theme, should match `dark` below. */
@media (prefers-color-scheme: dark) {
  :root {
		--color-canvas: hsl(217, 0%, 10%);
		--color-text-primary: hsl(210, 2%, 95%);
		--color-text-highlight: hsl(210, 0%, 100%);
		--color-text-brand: hsl(210, 30%, 80%);
  }
}
[data-theme="light"] {
	--color-canvas: hsl(60, 10%, 95%);
	--color-text-primary: hsl(217, 49%, 10%);
	--color-text-highlight: hsl(217, 49%, 20%);
	--color-text-brand: hsl(217, 49%, 20%);
	/* TODO: this should be something closer to a generic UI separator */
	--color-text-brand-sep: hsl(217, 100%, 100%);
}
[data-theme="dark"] {
		--color-canvas: hsl(217, 0%, 10%);
		--color-text-primary: hsl(210, 2%, 95%);
		--color-text-highlight: hsl(210, 0%, 100%);
		--color-text-brand: hsl(210, 30%, 80%);
}
